@{
    ViewBag.Title = "NotFound";
}
    <div class="container align-items-center">
        <div>
            <h3 style="text-align:center">The page you are looking for cannot be found...</h3>
            <h4 style="text-align:center">Please check the URL.</h4>
        </div>
     </div>