@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="view full-page-intro" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
        <div class="container text-white">
            <div class="row wow fadeIn white-text text-center">
                <h2></h2>
            </div>
            <h2 class="my-5 h2 text-center">
                Oooops... Resource you are looking for not found
            </h2>
        </div>
    </div>
</div>